@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/*Universal Styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 48px;
    color: rgb(64, 64, 64);
}

h2 {
    font-size: 36px;
    color: rgb(64, 64, 64);
}

p {
    font-size: 18px;
    color: rgb(64, 64, 64);
}

a {
    text-decoration: none;
    color: rgb(64, 64, 64);
}

/*Header */

header {
    min-height: 64px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.leftHeader {
    min-height: 32px;
    margin-left: 24px;
    display: flex;
    align-items: center;
}

.leftHeader li {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

.leftHeader span {
    font-weight: normal;
    color: gray;
}

.rightHeader {
    margin-right: 24px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.rightHeader li {
    padding-right: 16px;
    list-style-type: none;    
}

.mobileHeader {
    display: none;
}

@media only screen and (max-width:768px) {
    .mobileHeader {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        align-items: center;
        max-height: 64px;
        width: 100%;
    }

    .leftHeader, .rightHeader {
        display: none;
    }
}

/*Section One */

.sectionOne {
    display: flex;
    background-color: rgb(204, 204, 204);
    margin: 0 auto;
    flex-wrap: wrap row;
}

.sectionOneColumnOne {
    margin: 32px 24px;
    max-width: 60%;
}

.sectionOneColumnOne img {
    width: 100%;
}

.sectionOneColumnTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30%; 
    margin-left: 24px;
}

.sectionOneColumnTwo h1 {
    margin: 24px 0;
}

.sectionOneColumnTwo h2 {
    margin-bottom: 24px;
}

.sectionOneColumnTwo input {
    padding: 8px 0;
    color: white;
    background-color: rgb(64, 64, 64);
    font-size: 24px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .sectionOne {
        display: flex;
        flex-direction: column;
    }

    .sectionOneColumnOne {
        max-width: 100%;
    }

    .sectionOneColumnOne {
        width: 100%;
        margin: 0;
    }

    .sectionOneColumnTwo {
        max-width: 100%;
        margin: 32px 16px;
    }

    .sectionOneColumnTwo h1 {
        margin: 0 0 32px 0;
    }

    .sectionOneColumnTwo h2 {
        margin: 0 0 24px 0;
    }
}

/*Section Two */

.sectionTwo {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap row;
}

.sectionTwoColumnOne {
    margin: 32px 24px;
    max-width: 60%;
}

.sectionTwoColumnOne img {
    width: 100%;
}

.sectionTwoColumnOne h1 {
    margin-top: 32px;
    margin-bottom: 24px;
}

.sectionTwoColumnOne p {
    margin-bottom: 32px;
}

.sectionTwoColumnTwo {
    width: 40%;
    border-left: 1px solid rgb(204, 204, 204);;
}

.sectionTwoColumnTwoContent {
    display: flex;
    margin-top: 16px;
}

.sectionTwoColumnTwoImage {
    max-width: 35%;
    margin: 16px;
}

.sectionTwoColumnTwoImage img {
    width: 100%;
    height: auto;
}

.sectionTwoColumnTwoContent {
    align-items: center;
    border-bottom: 1px solid rgb(204, 204, 204);;
}

.sectionTwoColumnTwoContent p {
    margin: 8px 0px;
}

.thirdChild {
    background-color: rgb(204, 204, 204);
    margin-top: 0px;
}

.sectionTwoColumnTwoImageMobile {
    display: none;
}

@media only screen and (max-width: 768px) {

    .sectionTwo {
        margin: 0;
        border-bottom: 1px solid rgb(204, 204, 204);;
    }

    .sectionTwoColumnOne, .sectionTwoColumnTwoImage {
        display: none;
    }

    .sectionTwoColumnTwo {
        margin: 0;
        width: 100%;
    }
    
    .sectionTwoColumnTwoContent {
        flex-direction: column;
        margin: 32px 16px;
        align-items: baseline;
        border: none;
    }

    .sectionTwoColumnTwoImageMobile {
        display: inline-block;
        max-width: 100%;
    }

    .sectionTwoColumnTwoImageMobile img {
        width: 100%;
    }

    .sectionTwoColumnTwoInfo {
        padding-top: 16px;
        padding-left: 16px;
    }

    .thirdChild {
        background-color: white;
    }
}

/*Section Three */

.sectionThree {
    background-color: rgb(204, 204, 204);;
    padding-bottom: 8px;
}

.sectionThree h1 {
    text-align: center;
    padding-top: 32px;
}

.sectionThreeFlexBox {
    display: flex;
    flex-wrap: wrap;
    margin: 32px 72px;
}

.sectionThreeContent {
    flex: 0 0 31%;
    background-color: white;
    margin-right: 32px;
    margin-bottom: 32px;
}

.sectionThreeInfo {
    margin: 16px 0px 24px 16px;
}

.sectionThreeInfo p {
    padding-top: 8px;
}

.sectionThreeImage img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .sectionThree {
        background-color: white;
        border-bottom: 1px solid rgb(204, 204, 204);;
    }

    .sectionThreeFlexBox {
        margin: 16px 24px 32px 24px;
        display: block;
    }

    .sectionThreeContent {
        background-color: rgb(204, 204, 204);;
        margin: 0;
    }

    .sectionThreeImage, .sectionThreeInfo p{
        display: none;
    }

    .sectionThreeInfo {
        max-width: 100%;
        margin: 8px 0 0 0;
    }

    .sectionThreeInfo h2 {
        width: 100%;
        margin: 0;
        padding: 16px 0px 24px 16px;
    }
}

/*Section Four */

.sectionFour h1 {
    text-align: center;
    padding-top: 32px;
}

.sectionFourMain {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap row;
}

.sectionFourColumnOne {
    margin: 32px 24px;
    max-width: 60%;
}

.sectionFourColumnOne video {
    width: 100%;
}

.sectionFourColumnOneInfo h2 {
    padding-top: 24px;
}

.sectionFourColumnOneInfo p {
    padding-top: 8px;
}

.sectionFourColumnTwo {
    max-width: 40%;
    margin-top: 32px;
}

.sectionFourColumnTwoContent {
    padding: 16px;
    display: flex;
    align-items: center;
}

.sectionFourColumnTwoImage {
    max-width: 35%;
    height: auto;
}

.sectionFourColumnTwoImage img {
    width: 100%;
}

.sectionFourColumnTwoInfo {
    max-width: 65%;
    padding-left: 16px;
}

.sectionFourColumnTwoInfo p {
    margin: 8px 0px;
}

@media only screen and (max-width: 768px) {
    .sectionFourColumnOne {
        max-width: 100%;
        margin: 16px 0 24px 0;
    }

    .sectionFourColumnOneInfo , .sectionFourColumnTwo {
        display: none;
    }
}

/* Footer */

footer {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px 16px 24px;
    border-top: 1px solid rgb(204, 204, 204);;
}

.rightFooter {
    display: flex;
    justify-content: center;
}

.rightFooter li {
    list-style-type: none;
    padding-right: 16px;
}

.rightFooter a {
    color: black;
}

@media only screen and (max-width: 768px) {
    .rightFooter {
        display: none;
    }
}